<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangxy.soccerpro.mapper.TinqibiaoMapper">

    <resultMap id="BaseResultMap" type="com.tangxy.soccerpro.entity.Tinqibiao">
            <result property="cnusername" column="cnusername" jdbcType="VARCHAR"/>
            <result property="adcode" column="adcode" jdbcType="VARCHAR"/>
            <result property="citycode" column="citycode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cnusername,adcode,citycode
    </sql>
</mapper>
